/* * {
	border: 1px solid red;
} */
.Booking {
	margin-bottom: 2rem; 
}

h3.displayed-date {
	font-family: 'Cinzel', serif;
	/* font-weight: bolder; */
	margin: .5rem 0;
	text-align: center;
}

h4.sitting-time {
	text-align: center;
	color: white;
	cursor: default;
}

.form-details {
  margin: auto 0;
}

.text-labels {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
	border: 0;
}

.form-details input {
	border: 1px solid rgb(1, 50, 64);
	border-radius: 0;
}

.btn:disabled:hover {
  background-color: #013240;
  border: 1px solid #013240;
  color: #E2EEDF;
}

.form-control-error {
  color: red;
  height: 1rem;
  margin-bottom: 1rem;
}

.GDPR-message {
  border-left: 4px #EAC2B6 solid;
}

.GDPR-label {
	margin: 0;
}

.booking-heading {
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}

.sitting-block {
	background-color: #013240;
	border: 1px solid black;
	max-width: 10rem;
	margin-bottom: 1rem;
	padding-top: .5rem;
	overflow: hidden;
}

.sitting-wrap {
	height: 6rem;
}

.number-of-guests{
	padding-top: 0.5rem;
	margin-bottom: 1rem;
}

.sitting-block.hide {
	max-height: 3rem;
	transition: all .5s ease-in-out;
}

.sitting-block.show {
	max-height: 5rem;
	transition: all .5s ease-in-out;
}

.number-of-guests.hide {
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: all 0.25s ease-out;
}

.number-of-guests.show {
	max-height: 2rem;
	visibility: visible;
	transition: all 0.15s ease-in;
}

.number-of-guests > select {
	background-color: white;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.Booking {
		margin-bottom: 3rem; 
	}

	.booking-button {
		margin-top: .8rem;
		position: absolute;
		left: -25%;
	}
}

@media screen and (min-width: 1024px) {
}