.booking-info-wrapper {
	width: 95%;
	max-width: 700px;
	margin: 0 auto; 
}

.table th {
	border-top: none;
}

.table thead th{
  vertical-align: top;
}

.table td, .table th  {
	padding: .5em;
}

.admin-btn {
	width: 40px;
	height: 40px;
	margin: .1em;
}